body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    background-image: url("https://4.bp.blogspot.com/-4L8qnD3p4No/VVogg7NUV2I/AAAAAAAABiw/LTt_N93T8Ug/s1600/00abj4.jpg");
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    height: 100vh;
  }
  
  .container {
    text-align: center;
    padding: 20px;
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  body > img {
    margin: 0 10px;
  }
  
  img {
    max-height: 350px;
  }
  